.question {
    width: 75%;
    margin: auto;
}



.question-options{

    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.question-option{

    min-width: 200px;
    height: 100px;
    margin: 2em;
}

.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}