



.login-container {
  width: 75%;
  padding: 2em;
  margin: 2em auto;
  border: 5px solid rgb(0, 89, 255);
  border-radius: 25px;
}

.file-input{
  width: 100%;
}
.submit{
  margin: auto;
}
input{
  width: 50%;
  margin: 20px;
}